cpp-version/archive/* linguist-vendored
cpp-version/gtk/* linguist-vendored
cpp-version/gtk-2.22/* linguist-vendored
cpp-version/jpeg-6b/* linguist-vendored
cpp-version/m4/* linguist-vendored
cpp-version/oldGTK+-2.4binaries4Win32/* linguist-vendored
*.ipynb linguist-vendored